---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container main">
      {% include navbar.html %}
      {{ content }}
    </div>
    {% include footer.html %}
  </body>

  <script src="/javascripts/site.js?v=1'"></script>

  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
    <script src='/javascripts/{{ js_file }}.js' type="text/javascript"></script>
    {% endfor %}
  {% endif %}

  {% if page.showComments %}
    <script>
        window.disqus_shortname = '{{ site.disqusShortname }}';
        {% if page.disqusIdentifier %}
            window.disqus_identifier = '{{ page.disqusIdentifier }}';
        {% else %}
            window.disqus_identifier = document.title;
        {% endif %}
        window.disqus_developer = !!~document.location.href.indexOf("localhost") ? 1 : 0;
        window.disqus_url = document.location.href;
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}

  {% if page.showSocialSharing %}
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-610fd73d8c0273c4"></script>
  {% endif %}  
</html>
